// color
// $baseBg: rgba(5, 6, 8, .4);
$inputBg: rgba(5, 6, 30, .2);
$inputBgF: rgba(5, 6, 40, .4);
$textColor: #F1F3F4;
$textAlt: #9BA0A5;
$textDisabled: #86888A;
$btnColor: #D6D8D9;
$borderColor: rgba(255, 255, 255, .2);
$borderColor2: rgba(255, 255, 255, .35);
$optionTagColor: rgb(43, 42, 51);


// grass
@mixin grass {
  background: linear-gradient(to bottom right, rgba(5, 6, 40, .1), rgba(5, 6, 40, .2));
  -webkit-backdrop-filter: blur(5px) saturate(50%) brightness(50%);
  backdrop-filter: blur(5px) saturate(50%) brightness(50%);
  border-top: solid 1px rgba(0, 0, 0, .1);
  border-left: solid 1px rgba(0, 0, 0, .1);
  border-right: solid 1px rgba(0, 0, 0, .2);
  border-bottom: solid 1px rgba(0, 0, 0, .2);
  @include shadow-3
}

@mixin grass-button {
  background: linear-gradient(to bottom right, rgba(5, 6, 40, .1), rgba(5, 6, 40, .2));
  -webkit-backdrop-filter: blur(5px) saturate(50%) brightness(50%);
  backdrop-filter: blur(5px) saturate(50%) brightness(50%);
  @include shadow-3
}

@mixin opaque {
  background: linear-gradient(to bottom right, #3D3D3F, #3B3B3D);
  border-top: solid 1px rgba(0, 0, 0, .1);
  border-left: solid 1px rgba(0, 0, 0, .1);
  border-right: solid 1px rgba(0, 0, 0, .2);
  border-bottom: solid 1px rgba(0, 0, 0, .2);
  @include shadow-3
}

// shadow
@mixin shadow-1 {
  box-shadow:
  rgba(0, 0, 0, .2) 0px 2px 1px -1px,
  rgba(0, 0, 0, .14) 0px 1px 1px 0px,
  rgba(0, 0, 0, .12) 0px 1px 3px 0px;  
}

@mixin shadow-2 {
  box-shadow:
  rgba(0, 0, 0, .2) 0px 3px 3px -2px,
  rgba(0, 0, 0, .14) 0px 3px 4px 0px,
  rgba(0, 0, 0, .12) 0px 1px 8px 0px;
}

@mixin shadow-3 {
  box-shadow:
  rgba(0, 0, 0, .2) 0px 3px 5px -1px,
  rgba(0, 0, 0, .14) 0px 6px 10px 0px,
  rgba(0, 0, 0, .12) 0px 1px 18px 0px;
}

@mixin shadow-4 {
  box-shadow:
  rgba(0, 0, 0, .2) 0px 5px 5px -3px,
  rgba(0, 0, 0, .14) 0px 8px 10px 1px,
  rgba(0, 0, 0, .12) 0px 3px 14px 2px;
}

@mixin shadow-5 {
  box-shadow:
  rgba(0, 0, 0, .2) 0px 7px 8px -4px,
  rgba(0, 0, 0, .14) 0px 12px 17px 2px,
  rgba(0, 0, 0, .12) 0px 5px 22px 4px;
}

// @media
@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}

@mixin layout {
  @media screen and (max-width: 524px) {
    @content;
  }
}

@mixin mbModal {
  @media screen and (max-width: calc(420px + 2rem)) {
    @content;
  }
}
