// color
$baseBg: rgba(5, 6, 8, .4);
$inputBg: rgba(5, 6, 8, .25);
$inputBgF: rgba(5, 6, 8, .4);
$textColor: #F1F3F4;
$textAlt: #9BA0A5;
$textDisabled: #86888A;
$borderColor: rgba(255, 255, 255, .3);


// grass
@mixin grass {
  background: linear-gradient(to bottom right, rgba(5, 6, 8, .3), rgba(5, 6, 8, .4));
  -webkit-backdrop-filter: blur(5px) saturate(50%) brightness(60%);
  backdrop-filter: blur(5px) saturate(50%) brightness(60%);
  border-top: solid 1px rgba(0, 0, 0, .1);
  border-left: solid 1px rgba(0, 0, 0, .1);
  border-right: solid 1px rgba(0, 0, 0, .2);
  border-bottom: solid 1px rgba(0, 0, 0, .2);
  box-shadow:
    1px 3px 6px 0 rgba(0, 0, 0, .22),
    5px 10px 20px 0 rgba(0, 0, 0, .24);
}


// shadow
@mixin shadow-panel {
  box-shadow:
    1px 3px 6px 0 rgba(0, 0, 0, .22),
    5px 10px 20px 0 rgba(0, 0, 0, .24);
}

@mixin shadow-1 {
  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, .24),
    0 1px 1.5px 0 rgba(0, 0, 0, .12);
}

@mixin shadow-2 {
  box-shadow:
    0 3px 3px 0 rgba(0, 0, 0, .23),
    0 3px 3px 0 rgba(0, 0, 0, .16); 
}

@mixin shadow-3 {
  box-shadow:
    0 6px 3px 0 rgba(0, 0, 0, .23),
    0 10px 10px 0 rgba(0, 0, 0, .19);
}

@mixin shadow-4 {
  box-shadow:
    0 10px 5px 0 rgba(0, 0, 0, .22),
    0 14px 14px 0 rgba(0, 0, 0, .25);
}

@mixin shadow-5 {
  box-shadow:
    0 15px 6px 0 rgba(0, 0, 0, .22),
    0 19px 19px 0 rgba(0, 0, 0, .30);
}

// @media
@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}

@mixin mbModal {
  @media screen and (max-width: calc(420px + 2rem)) {
    @content;
  }
}
